# InfluxDB database version V1 for 1.X and V2 for 2.x
version=V2

# The database URL, e.g. http://127.0.0.1:8086 or https://127.0.0.1:8084.
# Defaults to: http://127.0.0.1:8086
url=http://influxdb:8086

# The name of the database user for 1.x, e.g. openhab.
# Defaults to: openhab
# user=<user>

# The password of the database user.
# password=

# The token to authenticate to the database (V2 only).
token=-tWcu4o4zrlLG6q8KiRJ5Gd91vz0D45io5enFF7BFo3LZcarVv6U6y0oRQK3tbBulxmcOsoEGVTKZ4yK3UpDyg==

# The name of the database, e.g. openhab.
# Defaults to: openhab
db=openhab

# The name of the retention policy for V1 and name of the bucket for V2.
# Defaults to: autogen
retentionPolicy=persistence
